@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer{
  background-color: rgb(238, 238, 238);
  justify-self: flex-end;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
}

a{
  color: gray;
  text-decoration: none;
  font-weight: 450;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.content{
  /*align-self: center;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button{
  padding: 10px;
}