.odd{
    background-color: rgb(241, 175, 175);
    font-family: Verdana, 'DejaVu Sans',sans-serif;
}

#two{
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.odd#three{
    font-size: 24px;
}

#four{
    background-color: rgb(197, 250, 206);
    font-size: 24px;
    font-weight: bold;
}